<!-- Hero Section -->
<section class="hero">
  <div class="hero-content">
    <h1>אתגרי כושר ובריאות שיעזרו לך לשפר את החיים!</h1>
    <p>הצטרפי עכשיו לאתגרים ותראי איך הגוף והנפש שלך משתפרים!</p>
    <div class="hero-buttons">
      <button (click)="navigateTo('challenges')">צפה בכל האתגרים</button>
      <button (click)="navigateTo('/register')">הצטרפי לאתגר</button>
      <button (click)="navigateTo('createChallenge')">העלאת אתגר</button>
      <button (click)="navigateTo('signup')">הרשמה</button>
    </div>
  </div>
</section>

<!-- הקרוסלה החדשה והמגניבה של האתגרים הפופולריים ביותר (לפי לייקים) -->
<app-popular-challenges></app-popular-challenges>