<div class="all-challenges-container">
  <h2>כל האתגרים</h2>
  
  @if (challengeList.length === 0) {
    <div class="no-challenges-message">
      עדיין אין אתגרים להצגה.
    </div>
  }

  @if (challengeList.length > 0) {
    <ul class="challenge-list">
      @for (challenge of challengeList; track challenge.id) {
        <li class="challenge-item">
          
          <a [routerLink]="['/challenge', challenge.id]" class="challenge-title-link">
            <h3>{{ challenge.name }}</h3>
          </a>
          
          <p><strong>נוצר על ידי :</strong> {{ challenge.userName }}</p>
          
        </li>
      } 
      </ul>
  }
</div>