<div class="like-container">
  <span class="like-count">{{ likeCount }}</span>

  <button 
    (click)="onToggleLike()" 
    [disabled]="isProcessing"
    [ngClass]="{'liked': isLiked, 'not-liked': !isLiked}"
  >
    <span *ngIf="isLiked; else notLiked">
      ❤️ (בטל לייק)
    </span>
    <ng-template #notLiked>
      🤍 (הוסף לייק)
    </ng-template>
  </button>
  
  <div *ngIf="message" class="error-message">
    {{ message }}
  </div>

  <div *ngIf="isProcessing" class="loading-indicator">
    ...בטעינה
  </div>
</div>
