<div class="signup-container">
  <h2>הרשמה</h2>

  <form (ngSubmit)="onSubmit()">
    <label for="userName">שם משתמש:</label>
    <input id="userName" name="userName" [(ngModel)]="user.username" required />

    <label for="email">אימייל:</label>
    <input id="email" name="email" type="email" [(ngModel)]="user.email" required />

    <label for="password">סיסמה:</label>
    <input id="password" name="password" type="password" [(ngModel)]="user.password" required />

    <button type="submit">הרשמה</button>
  </form>

  <p class="message">{{ message }}</p>
</div>
